body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(52, 52, 52);
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

.web_container{
    margin: 0px 5rem;
    box-shadow: 0 0 10px 5px rgb(216, 216, 214); 
    height: 900px;
    padding: 0.5rem 3rem;

}

.container_header{
    display: flex;
    flex-direction: column;
    color: rgb(241, 233, 220);
}

.search_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar_header{
    display: flex;
    align-items: center;
}

.bar_header input{
    width: 50rem;
    padding: 4px;
    border-radius: 5px;
    padding-left: 15px;
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.bar_header button{
    background-color: rgb(98, 105, 123);
    border-radius: 5px;
    position: absolute;
    left: 1393px;
    color: rgb(241, 233, 220);
}

.logo{
    max-width: 300px;
}

.login_header{
    display: flex;
    gap: 1.5rem;
}







.paleta{
    color: rgb(52, 52, 52);
    color: rgb(241, 233, 220);
    color:rgb(216, 216, 214);
    color: rgb(98, 105, 123);
    color: rgb(56, 27, 71);
}